/* Estrutura do site ------------------------------------ */

body {
    background: #f4f2ec url(../images/fundo.png) repeat-x;
    font: 12px 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}
a:hover {
    color: #227115;
}

/* Logo ------------------------------------ */

#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../images/logo.png) no-repeat;
}

/* Barar de navegação ------------------------------------ */

header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

/* Principal ------------------------------------ */

#conteudo {
    width: 710px;
    float: left;
    margin-bottom: 20px;
}

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

section#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

section#galeria a {
    display: block;
    background: url(../images/fundo-foto.png) no-repeat;
    float: left;
    padding: 17px 15px 17px 15px;
    margin: 10px 0 0 20px;
}

section#galeria {
    padding: 0 27px;

}

section#galeria img {
    margin-left: 2px;
    margin-top: 3px;
}

article {
    float: left;
    width: 310px;
}

article#video {
    margin-left: 25px;
}

article#mapa {
    margin-left: 37px;
}

article#exposicoes {
    margin: 15px 0 0 25px;
}

article#historia {
    margin: 15px 0 0 37px;
}

h3 {
    color: #227115;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* Rodapé ------------------------------------ */

footer {
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../images/fundo-rodape.png) no-repeat center top;
    
}

footer>p a {
    padding: 2px 10px;
}

/* Formulário ------------------------------------ */

input {
    height: 20px;
    width: 80px;
    background: white;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
}

input.botao {
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

legend {
    display: none;
}